.container {
  max-width: 44rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
  filter: grayscale(100%);
}

.headerImage:hover {
  filter: grayscale(0%);
}

.headerHomeImage {
  width: 6rem;
  height: 6rem;
}

.backToHome {
  margin: 3rem 0 0;
}
