
.gc_contenedor {
    width: 350px;
    height: 350px;
}

.gc_contenedor_bq_img {
    width: 350px;
    height: 200px;
    
}

.gc_contenedor_st {
    margin: 5px 0 10px 0; 
    padding: 20px; 
}

.gridc_bloque_cbu {
    margin: 20px 5px ;
}